.well {
  margin:20px;
}
.list {
  float:right;
  padding-top: 13px;
}
.column {
  float:right;
  width:300px;
}

.panel {
  margin-left: 20px;
  margin-right: 20px;
}
.sidebar {
  margin-left: 20px;
  width: 30%;
}
.navbar-right {
  text-align: right;
}
